<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'birthday/home.css'%}">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Hello Amna!</title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.7/dist/js/uikit-icons.min.js"></script>
</head>

<body>

    <audio controls autoplay loop>
        <source src="{% static 'birthday/audio (2).mp3'%}" type="audio/mpeg" >
        Your browser does not support the audio element.
      </audio>
    <div class='crads'>
        {% for model in Data %}
        <div class='card  uk-animation-toggle '>
            <img src='/media/{{model.Image}}' class="uk-animation-kenburns " alt='Conect Internet to see the beautiful images' />
            <div class='card_info uk-animation-scale-down'>
                <span class='card_catagory'>{{model.Catagory}}</span>
                <h3 class='card_title'>{{model.Occasion}}</h3>
                <a href='/home/{{model.id}}' target='_blank'>
                    <button>Click me </button>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js " integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV " crossorigin="anonymous "></script>
     <script>
        alert('Amna Use handfree to listen and pls dont vist this site on Mobile phone Laptop Only');
    </script>
</body>

</html>